@import "base";

#search {
  input {
    width: 150px;
  }
}

#winner {
  text-align: center;
}

.side {
  font-size: $font-size-default;
  font-weight: bold;
  img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}

.match-table {
  font-size: 12px;
  margin-top: 20px;
  .hero {
    img {
      width: 38px;
      height: 21px;
    }
  }
}