@import "base";

body {
  font-family: tahoma, arial, helvetica, sans-serif;
  color: $text-main;
  font-size: 14px;
  line-height: 20px;
}

.container {
  //width: $base-width;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  vertical-align: middle;
}