@import "base";

#profile-summary {
  .avatar {
    float: left;
    margin-right: 4px;
    margin-top: 2px;
  }
}

.avatar {
  width: 32px;
  height: 32px;
}

#name {
  width: 420px;
  float: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  top: 5px;
  line-height: 0;
  img {
    max-width: none;
  }
}

#info-tab {
  #real-name {
    float: left;
    margin-right: 6px;
    margin-top: 0px;
    line-height: 20px;
  }
}

#friends-tab {
  #friends-table {
    .id {
      text-align: right;
    }
    .avatar {
      width: 34px;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

#apps-tab {
  #apps-table {
    .id {
      width: 18px;
      text-align: right;
    }
    .logo {
      width: 85px;
      img {
        width: 85px;
        height: 32px;
      }
    }
    .used-2w {
      width: 142px;
      text-align: center;
    }
    .used-total {
      width: 78px;
      text-align: center;
    }
  }
}

#groups-tab {
  #groups-table {
    .id {
      width: 18px;
      text-align: right;
    }
    .avatar {
      width: 34px;
      img {
        width: 32px;
        height: 32px;
      }
    }
    .name {
      text-align: left;
    }
  }
}

.nav-tabs > li, .nav-pills > li {
  float: right;
}