@import "base";

.search {
  input {
    width: 100px;
  }
}

#app-info {
  #header-image {
    margin-bottom: 20px;
  }
  #platforms {
    margin-bottom: 10px;
    img {
      margin-right: 2px;
    }
  }
  #description {
    clear: both;
  }
}