@import "base";

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: $text-main;
  font-size: $font-size-default;
  line-height: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.ui-widget, input, button, select, textarea {
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
  img {
    height: 18px;
  }
  .container {
    width: $base-width;
  }
}

.container {
  width: $base-width;
}

img {
  vertical-align: middle;
}

footer {
  clear: both;
}